DB_HOST=
DB_HOST_TEST=
PORT=

BASE_URL=

JWT_SECRET_ACCESS=
JWT_SECRET_REFRESH=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ELASTIC_EMAIL_FROM=
ELASTIC_API_KEY=

UKR_NET_EMAIL_FROM=
UKR_NET_MAILER_PASSWORD=